.header {
  position: sticky;
  padding: 20px 0px;
  top: 0;
  z-index: 100;
  @include tablet {
    padding: 10px 0px;
  }
  &._fixed {
    position: fixed;
    left: 0;
    right: 0;
  }
  &._scroll {
    .header__body {
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.15);
    }
  }

  &__body {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    background-color: white;
    padding: 15px;
    border-radius: 16px;
    gap: 20px;
    transition: box-shadow 0.2s ease;
    @include desktop-big {
      display: flex;
    }
    @include mobile {
      padding: 10px;
    }
  }
  &__col {
    display: flex;
    align-items: center;
    gap: 20px;
    @include desktop-big {
      &:first-child {
        order: 2;
        margin-left: auto;
      }
      &:nth-child(3) {
        order: 3;
      }
    }
    @include laptop-min {
      &:first-child {
        display: none;
      }
      &:nth-child(3) {
        order: 2;
        margin-left: auto;
      }
    }
  }
  &__list {
    display: flex;
    gap: 20px;

    @include desktop-big {
      &._contacts {
        display: none;
      }
    }
    @include desktop {
      gap: 15px;
    }
    @include laptop-middle {
      gap: 10px;
    }
    @include laptop-min {
      display: none;
    }

    a {
      display: block;
      font-size: 16px;
      line-height: 130%;
      transition: color 0.2s ease;
      @include hover {
        color: var(--primary);
      }

      @media (max-width: 1830px) {
        font-size: 14px;
      }
      @include laptop-middle {
        font-size: 12px;
      }
    }
  }
  &__logo {
    display: block;
    margin: 0 auto;
    width: 245px;

    @media (max-width: 1830px) {
      width: 200px;
    }
    @include desktop-big {
      order: 1;
      margin: 0;
    }

    img {
      width: 100%;
    }
  }
  &__contacts {
    display: none;
    @include desktop-big {
      display: flex;
      gap: 15px;
      margin-left: auto;
    }
    @include laptop-middle {
      display: none;
    }
    @include laptop-min {
      display: flex;
    }
  }
  &__contacts-btn {
    @include flex-center;
    width: 32px;
    height: 32px;
    background-color: var(--primary);
    border-radius: 50%;
    color: white;

    @include mobile {
      &._mail {
        display: none;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__btn {
    display: block;
    padding: 14px 24px;
    border-radius: 8px;
    background-color: var(--primary);
    margin-left: auto;

    color: white;
    font-size: 16px;
    line-height: 130%;

    transition: background-color 0.2s ease;

    @include hover {
      background-color: var(--primary-l);
    }
    @include desktop-big {
      margin-left: 0;
    }
    @include laptop {
      display: none;
    }
  }
  &__burger-btn {
    display: none;
    @include laptop-min {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;
      width: 30px;
      height: 30px;
      order: 2;

      div {
        width: 100%;
        height: 2px;
        background-color: var(--primary);
      }
    }
  }
}
