.s-archive-projects {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    row-gap: 70px;
    @include laptop-middle {
      gap: 20px;
      row-gap: 40px;
    }
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
}