.s-single-event {
  &__content {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 70px;
    @include laptop-min {
      margin-top: 50px;
    }
    @include tablet {
      margin-top: 30px;
    }
  }
  &__gallery-item {
    display: block;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 20px;

    @include hover {
      img {
        transform: scale(1.09);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .3s linear;
    }
  }
}
