:root {
  --dark: #494949;
  --primary: #00a26f;
  --primary-l: #13be88;
  --white: #f6fcf9;

  --red: #ff4c54;
  --blue: #99bffc;

  --car: #eae8e0;
  --wood: #f2eee6;

  --ecru: #f7f3eb;
  --bg: #fbf9f3;
}
