<header class="header _fixed">
  <div class="container">
    <div class="header__body">
      <div class="header__col">
        <ul class="list header__list">
          <li><a href="#">О фонде</a></li>
          <li><a href="#">Проекты</a></li>
          <li><a href="#">Благодарности</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Мероприятия</a></li>
          <li><a href="#">Корпоративная газета</a></li>
        </ul>
      </div>
      <a href="#" class="header__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <div class="header__col">
        <ul class="list header__list">
          <li><a href="#">Документы</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
        <ul class="list header__list _contacts">
          <li>
            <a href="mailto:fond-happystories@mail.ru"
              >fond-happystories@mail.ru</a
            >
          </li>
          <li><a href="tel:+78435610612">+7 843 561-06-12</a></li>
        </ul>
        <div class="header__contacts">
          <a
            href="mailto:fond-happystories@mail.ru"
            class="header__contacts-btn _mail"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-mail"></use>
            </svg>
          </a>
          <a href="tel:+78435610612" class="header__contacts-btn _tel">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
          </a>
        </div>
        <a href="#" class="header__btn">Пожертвовать</a>
      </div>
      <div class="header__burger-btn" id="burger-open">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</header>

<div class="burger-overlay" id="burger-overlay"></div>
<div class="burger" id="burger">
  <div class="burger__head">
    <a href="#" class="burger__logo">
      <img src="@img/logo.svg" alt="logo" />
    </a>
    <div class="burger__close" id="burger-close">
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="burger__nav">
    <ul class="list burger__list">
      <li><a href="#">О фонде</a></li>
      <li><a href="#">Проекты</a></li>
      <li><a href="#">Благодарности</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Мероприятия</a></li>
      <li><a href="#">Корпоративная газета</a></li>
      <li><a href="#">Документы</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <ul class="list burger__list">
      <li>
        <a href="mailto:fond-happystories@mail.ru">fond-happystories@mail.ru</a>
      </li>
      <li><a href="tel:+7 843 561-06-12">+7 843 561-06-12</a></li>
    </ul>
  </div>
  <a href="#" class="burger__btn">Пожертвовать</a>
</div>
