<section class="s-archive sect-m">
  <div class="container">
    <div class="aioseo-breadcrumbs">
      <span class="aioseo-breadcrumb">
        <a href="/" title="Главная">Главная</a>
      </span>
      <div class="aioseo-breadcrumb-separator">></div>
      <span class="aioseo-breadcrumb"> Новости </span>
    </div>
    <h1 class="m-title _center">Новости</h1>
    <div class="nav-buttons">
      <a href="#" class="nav-buttons__item _active">Новости</a>
      <a href="#" class="nav-buttons__item">Пресса о нас</a>
      <a href="#" class="nav-buttons__item">Анонсы</a>
    </div>
    <div class="s-archive__body">
      <h2 class="s-title">Новости</h2>
      <ul class="list tabs-list">
        <li><a href="#" class="_active">Все</a></li>
        <li><a href="#">Глаголица</a></li>
        <li><a href="#">Фест</a></li>
        <li><a href="#">Конкурсы</a></li>
      </ul>
      <div class="grid _top">
        <a href="#" class="card-new">
          <div class="card-new__gallery">
            <img src="@img/new.jpg" alt="image" />
          </div>
          <div class="card-new__body">
            <h5 class="card-new__title">
              В Царицыно состоялась читка пьесы юного автора в юбилейный год
              Театра РОСТА
            </h5>
            <div class="card-new__date">25.03.2025</div>
            <div class="card-new__btn">
              <span>Подробнее</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="#" class="card-new">
          <div class="card-new__gallery">
            <img src="@img/new.jpg" alt="image" />
          </div>
          <div class="card-new__body">
            <h5 class="card-new__title">
              В Царицыно состоялась читка пьесы юного автора в юбилейный год
              Театра РОСТА
            </h5>
            <div class="card-new__date">25.03.2025</div>
            <div class="card-new__btn">
              <span>Подробнее</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="#" class="card-new">
          <div class="card-new__gallery">
            <img src="@img/new.jpg" alt="image" />
          </div>
          <div class="card-new__body">
            <h5 class="card-new__title">
              В Царицыно состоялась читка пьесы юного автора в юбилейный год
              Театра РОСТА
            </h5>
            <div class="card-new__date">25.03.2025</div>
            <div class="card-new__btn">
              <span>Подробнее</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="#" class="card-new">
          <div class="card-new__gallery">
            <img src="@img/new.jpg" alt="image" />
          </div>
          <div class="card-new__body">
            <h5 class="card-new__title">
              В Царицыно состоялась читка пьесы юного автора в юбилейный год
              Театра РОСТА
            </h5>
            <div class="card-new__date">25.03.2025</div>
            <div class="card-new__btn">
              <span>Подробнее</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
