<section class="s-archive-partners sect-m _off-top">
  <div class="container tabs">
    <div class="nav-buttons">
      <span data-tab-btn="partners" class="nav-buttons__item _active"
        >Партнеры</span
      >
      <span data-tab-btn="stars" class="nav-buttons__item"
        >Звёзды и друзья фонда</span
      >
    </div>
    <div data-tab="partners" class="_active">
      <h2 class="s-title">Партнеры</h2>
      <div class="s-archive-partners__partners">
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
        <img src="@img/partner.png" alt="image" />
      </div>
    </div>
    <div data-tab="stars">
      <h2 class="s-title">Звёзды и друзья фонда</h2>
      <div class="grid">
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
        <div class="card-star">
          <div class="card-star__gallery">
            <img src="@img/star.jpg" alt="image" />
          </div>
          <div class="card-star__body">
            <h5 class="card-star__title">Нонна Гришаева</h5>
            <p class="content card-star__content">
              Заслуженная артистка Российской Федерации. Художественный
              руководитель Московского государственного театра Роста в Царицыно.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
