<section class="s-article sect-m">
  <div class="container">
    <div class="s-article__wrapper">
      <div class="s-article__gallery">
        <img src="@img/article.jpg" alt="image" />
      </div>
      <div class="s-article__info">
        <div class="content">
          <p>
            25 марта 2025 года в Царицыно, в юбилейный год Театра РОСТА, прошла
            премьерная читка пьесы «Лазаревы леденцы», написанной 16-летним
            автором Александром Разовым, лауреатом XI Международной независимой
            литературной премии «Глаголица». Номинацию оценивал известный
            театральный критик Нияз Игламов. Читка также прошла в рамках «Ночи
            театров» 27 марта. Мероприятие привлекло внимание как молодых
            зрителей, так и взрослых, которые пришли познакомиться с работой юного
            талантливого драматурга.
          </p>
          <p>
            Трагикомедию «Лазаревы леденцы» выбрала для читки художественный
            руководитель Театра РОСТА в Царицыно, заслуженная артистка России
            Нонна Гришаева, которая прокомментировала мероприятие: «Во время
            проведения торжественной церемонии награждения победителей Премии
            «Глаголица» был зачитан отрывок этой пьесы, и он меня заинтересовал. Я
            увидела, что это действительно очень талантливый автор. Меня буквально
            поразила эта пьеса тем, что юный автор затронул такие глубокие темы,
            как, например, детские комплексы и их влияние на взрослую жизнь и
            придумал целую фантасмагорию. Трагикомедия, как жанр, требует от
            автора умения заставить зрителя сначала смеяться, а затем плакать, и
            Александр с этим справился. Я уверена, что поддержка юных талантов —
            это важная задача театра, и мы рады предоставить платформу для их
            идей. Каждый автор мечтает о том, чтобы его произведение было
            поставлено, и мы надеемся, что сегодня мы смогли подарить Александру
            надежду на осуществление его мечты».
          </p>
          <p>
            «Приглашение Нонны Гришаевой на торжественную церемонию награждения
            победителей премии «Глаголица» стало для нас приятной неожиданностью и
            отличным стартом для молодого автора Александра Разова, чья пьеса
            «Лазаревы леденцы» нашла отклик у зрителей. Мы искренне благодарны
            Театру РОСТА, его руководству и зрителям за поддержку и признание
            таланта молодого драматурга. Это сотрудничество между юными
            драматургами и культурными деятелями стирает границы между поколениями
            и сближает. Мы рады видеть, что проект «Глаголица» позволяет молодым
            авторам быть услышанными. Такие инициативы открывают театрам новые
            возможности и привлекают новых зрителей. Молодые зрители
            заинтересовались работой своего сверстника, поскольку почувствовали
            близость и актуальность этого произведения для себя», — отметила Ирина
            Хуснутдинова, основатель Благотворительного фонда «Счастливые истории»
            (учредитель и организатор премии «Глаголица»).
          </p>
          <p>
            На сцене читки выступили артисты Театра РОСТА: Анна Старцева, Андрей
            Клюев, Елена Афанасьева, Валерий Кукушкин, Семён Газиев, Дмитрий
            Сидоренко, Ольга Лосева, Татьяна Покроева и Антон Афанасьев.
            Режиссёром мероприятия стал Николай Дручек, а театральным педагогом —
            Александра Никитина.
          </p>
          <p>
            В процессе чтения артисты вместе со зрителями размышляли о том, какие
            невидимые нити соединяют нас с другими людьми, и что зависит от
            человека в его собственной судьбе. Аудитория активно обсуждала, где
            проходит грань между реальностью и фантастикой, что сделало читку
            настоящим театральным событием.
          </p>
          <p>
            По мнению участников, такие мероприятия не только развивают интерес к
            театру, но и способствуют формированию критического мышления у
            молодого поколения.
          </p>
        </div>
        <div class="s-article__date">27.03.2025 г.</div>
      </div>
    </div>
  </div>
</section>
