<section class="s-countries sect-m">
  <div class="container">
    <h2 class="s-title s-countries__title">
      наша деятельность объединяет людей <span>из 52 стран</span>
    </h2>
    <div class="s-countries__wrapper">
      <div class="s-countries__item">
        <ul class="list s-countries__list">
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
          <li>Узбекистан</li>
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
          <li>Узбекистан</li>
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
        </ul>
      </div>
      <div class="s-countries__item">
        <ul class="list s-countries__list">
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
          <li>Узбекистан</li>
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
          <li>Узбекистан</li>
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
        </ul>
      </div>
      <div class="s-countries__item">
        <ul class="list s-countries__list">
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
          <li>Узбекистан</li>
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
          <li>Узбекистан</li>
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
        </ul>
      </div>
      <div class="s-countries__item">
        <ul class="list s-countries__list">
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
          <li>Узбекистан</li>
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
          <li>Узбекистан</li>
          <li>Россия</li>
          <li>Казахстан</li>
          <li>Молдова</li>
        </ul>
      </div>
    </div>
  </div>
</section>
