<section class="s-contacts sect-m _off-top">
  <div class="container">
    <div class="s-contacts__grid">
      <div class="s-contacts__item">
        <div class="s-contacts__item-block">
          <div class="s-contacts__block-title">Адрес</div>
          <div class="s-contacts__block-content">
            420081, РТ, г. Казань, ул. Тулпар, д. 7, помещение 1110
          </div>
        </div>
        <div class="s-contacts__item-block">
          <div class="s-contacts__block-title">График работы</div>
          <div class="s-contacts__block-content">
            пн-пт 8:00 - 17:00, перерыв 12:00 - 13:00
          </div>
        </div>
      </div>
      <div class="s-contacts__item">
        <div class="s-contacts__item-block">
          <div class="s-contacts__block-title">Телефон</div>
          <a href="tel:+78435610612" class="s-contacts__block-content"
            >+7 (843) 561-06-12</a
          >
        </div>
        <div class="s-contacts__item-block">
          <div class="s-contacts__block-title">Соцсети</div>
          <div class="s-contacts__social">
            <a href="#" target="_blank" class="s-contacts__social-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-vk"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="s-contacts__social-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="s-contacts__social-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-rutube"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="s-contacts__item">
        <div class="s-contacts__item-block">
          <div class="s-contacts__block-title">Пишите нам</div>
          <a
            href="mailto:fond-happystories@mail.ru"
            class="s-contacts__block-content"
          >
            fond-happystories@mail.ru
          </a>
        </div>
        <div class="s-contacts__item-block">
          <div class="s-contacts__block-title">
            По вопросам взаимодействия со СМИ
          </div>
          <a
            href="mailto:fond-happystories@mail.ru"
            class="s-contacts__block-content"
          >
            prhappystories@yandex.ru
          </a>
        </div>
        <div class="s-contacts__item-block">
          <div class="s-contacts__block-title">
            По участию в семейном книжном фестивале "Тау Фест"
          </div>
          <a
            href="mailto:taufest@yandex.ru"
            class="s-contacts__block-content"
          >
            taufest@yandex.ru
          </a>
        </div>
        <div class="s-contacts__item-block">
          <div class="s-contacts__block-title">
            По участию в Международной независимой литературной премии "Глаголица"
          </div>
          <a
            href="mailto:info@glagolitsa-rt.ru"
            class="s-contacts__block-content"
          >
            info@glagolitsa-rt.ru
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
