<section class="s-directions sect-m">
  <div class="container">
    <h2 class="s-title s-directions__title">
      Фонд начал свою деятельность в 2010 году и работает
      <span>по трем направлениям:</span>
    </h2>
    <div class="s-directions__grid">
      <div
        class="s-directions__item"
        style="
          background: url(&quot;@img/direction.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-directions__item-circle">
          <img src="@img/direction-icon.svg" alt="icon" />
        </div>
        <h5 class="s-directions__item-title _oswald">культура и искусство</h5>
      </div>
      <div
        class="s-directions__item"
        style="
          background: url(&quot;@img/direction.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-directions__item-circle">
          <img src="@img/direction-icon.svg" alt="icon" />
        </div>
        <h5 class="s-directions__item-title _oswald">просвещение</h5>
      </div>
      <div
        class="s-directions__item"
        style="
          background: url(&quot;@img/direction.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-directions__item-circle">
          <img src="@img/direction-icon.svg" alt="icon" />
        </div>
        <h5 class="s-directions__item-title _oswald">филантропия</h5>
      </div>
    </div>
  </div>
</section>
