<section class="s-documents sect-m _off-top">
  <div class="container tabs">
    <div class="nav-buttons">
      <span data-tab-btn="doc-1" class="nav-buttons__item _active"
        >Учредительные документы</span
      >
      <span data-tab-btn="doc-2" class="nav-buttons__item">Годовые отчеты</span>
      <span data-tab-btn="doc-3" class="nav-buttons__item"
        >Отчеты в Минюст</span
      >
      <span data-tab-btn="doc-4" class="nav-buttons__item"
        >Аудиторские заключения</span
      >
      <span data-tab-btn="doc-5" class="nav-buttons__item"
        >Бухгалтерская отчетность</span
      >
    </div>
    <div data-tab="doc-1" class="_active">
      <div class="s-documents__grid">
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Устав БФ "Счастливые истории"
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Свидетельство о гос. регистрации 15.12.2017
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Устав БФ "Счастливые истории"
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Свидетельство о гос. регистрации 15.12.2017
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div data-tab="doc-2" class="_active">
      <div class="s-documents__grid">
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Свидетельство о гос. регистрации 15.12.2017
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Устав БФ "Счастливые истории"
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Свидетельство о гос. регистрации 15.12.2017
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div data-tab="doc-3" class="_active">
      <div class="s-documents__grid">
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Устав БФ "Счастливые истории"
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Свидетельство о гос. регистрации 15.12.2017
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Устав БФ "Счастливые истории"
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Свидетельство о гос. регистрации 15.12.2017
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div data-tab="doc-4" class="_active">
      <div class="s-documents__grid">
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Свидетельство о гос. регистрации 15.12.2017
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Устав БФ "Счастливые истории"
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Свидетельство о гос. регистрации 15.12.2017
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div data-tab="doc-5" class="_active">
      <div class="s-documents__grid">
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Устав БФ "Счастливые истории"
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
        <a href="@img/direction-icon.svg" download class="s-documents__item">
          <div class="s-documents__item-head">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-doc"></use>
            </svg>
            <h5 class="s-documents__item-title">
              Свидетельство о гос. регистрации 15.12.2017
            </h5>
          </div>
          <div class="s-documents__item-footer">
            <div class="s-documents__item-btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="s-documents__item-download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
