<section class="s-events sect-m _off-top">
  <div class="container">
    <div class="grid">
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Царицыно состоялась читка пьесы юного автора в юбилейный год
            Театра РОСТА
          </h5>
          <div class="card-new__date">25.03.2025</div>
          <div class="card-new__btn">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Царицыно состоялась читка пьесы юного автора в юбилейный год
            Театра РОСТА
          </h5>
          <div class="card-new__date">25.03.2025</div>
          <div class="card-new__btn">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Царицыно состоялась читка пьесы юного автора в юбилейный год
            Театра РОСТА
          </h5>
          <div class="card-new__date">25.03.2025</div>
          <div class="card-new__btn">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Царицыно состоялась читка пьесы юного автора в юбилейный год
            Театра РОСТА
          </h5>
          <div class="card-new__date">25.03.2025</div>
          <div class="card-new__btn">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Царицыно состоялась читка пьесы юного автора в юбилейный год
            Театра РОСТА
          </h5>
          <div class="card-new__date">25.03.2025</div>
          <div class="card-new__btn">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Царицыно состоялась читка пьесы юного автора в юбилейный год
            Театра РОСТА
          </h5>
          <div class="card-new__date">25.03.2025</div>
          <div class="card-new__btn">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Царицыно состоялась читка пьесы юного автора в юбилейный год
            Театра РОСТА
          </h5>
          <div class="card-new__date">25.03.2025</div>
          <div class="card-new__btn">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">
            В Царицыно состоялась читка пьесы юного автора в юбилейный год
            Театра РОСТА
          </h5>
          <div class="card-new__date">25.03.2025</div>
          <div class="card-new__btn">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
