<section class="s-map-partner sect-m">
  <div class="container">
    <h2 class="s-title _center">Карта партнера</h2>
    <div class="s-map-partner__content content">
      <p data-copy="map-partner">
        1. Наименование предприятия (согласно учредительных документов):<br />1.1.
        Полное: Благотворительный фонд «Счастливые истории»<br />1.2.
        Сокращенное: БФ «Счастливые истории»<br />2. Коды:<br />2.1.ОКВЭД –
        64.99, 58.14, 93.29, 94.99, 94.99.6<br />2.2.ОКПО – 22041264<br />2.3.ОКАТО-92401385000<br />2.4.ОКТМО
        - 92701000001<br />2.5.ОКФС - 50<br />2.6. ОКОПФ - 70401<br />3.
        Идентификационный номер 1660305177<br />4. Код причины постановки на
        учет 166001001<br />5. Юридический адрес в соответствии с учредительными
        документами: 420081, г. Казань, ул. Тулпар, д. 7, помещение 1110<br />5.1.
        Почтовый адрес: 420081, г. Казань, ул. Тулпар, д. 7<br />5.2.
        Фактическое местонахождение: 420081, г. Казань, ул. Тулпар, д. 7,
        помещение 1110<br />6. Действующие номера телефонов: (843) 561-06-12,
        562-05-02 бухгалтерия<br />7. Сведения о регистрации:<br />7.1.
        Наименование регистрирующего органа: Управление Министерства юстиции РФ
        по РТ<br />7.2. Учетный номер: 1614011004;<br />7.3. Дата регистрации:
        15.12.2017г.<br />7.4. Наименование налогового органа по месту учета:
        Межрайонная инспекция Федеральной налоговой службы №6 по Республике
        Татарстан.<br />8. Сведения о включении предприятия в Государственной
        реестр:<br />8.1. Номер в Госреестре (ОГРН): 1171690124341;<br />8.2.
        Дата 15.12.2017г.<br />9. Сведения о банках и банковских счетах:<br />9.1.
        Полное наименование банка: ОТДЕЛЕНИЕ N8610 СБЕРБАНКА РОССИИ г.КАЗАНЬ<br />9.2.
        Кор. счет: 30101810600000000603<br />9.3. БИК: 049205603<br />9.4. Номер
        расчетного счета: 40703810162000002081<br />10. Директор Фонда: Исламова
        Елена Анатольевна (действующая на основании Устава)
      </p>
    </div>
    <button data-copy-btn="map-partner" id="myButton" class="btn-s s-map-partner__btn">Копировать</button>
  </div>
</section>