<section class="s-mission sect-m">
  <div class="container">
    <div class="s-mission__main">
      <img src="@img/pattern.png" alt="image" class="s-mission__main-pattern" />
      <div class="s-mission__main-tag">Миссия фонда</div>
      <h3 class="s-mission__main-title _oswald">
        Поддерживать и раскрывать творческий потенциал детей через литературу,
        популяризируя чтение и радость познания
      </h3>
      <div class="s-mission__main-circle">
        <span>Счастье и здоровье детей кроется в их творческом развитии</span>
      </div>
    </div>
    <div class="s-mission__purpose">
      <h2 class="s-mission__purpose-title _oswald">
        Наша цель — Создать <span
          >доступную и вдохновляющую среду для детей и подростков</span
        >, способствующую реализации их креативных идей и творческому развитию
      </h2>
      <div class="s-mission__purpose-grid">
        <a
          href="@img/purpose.jpg"
          data-fancybox="gallery-purpose"
          class="s-mission__purpose-item"
        >
          <img src="@img/purpose.jpg" alt="image" />
        </a>
        <a
          href="@img/purpose.jpg"
          data-fancybox="gallery-purpose"
          class="s-mission__purpose-item"
        >
          <img src="@img/purpose.jpg" alt="image" />
        </a>
        <a
          href="@img/purpose.jpg"
          data-fancybox="gallery-purpose"
          class="s-mission__purpose-item"
        >
          <img src="@img/purpose.jpg" alt="image" />
        </a>
        <a
          href="@img/purpose.jpg"
          data-fancybox="gallery-purpose"
          class="s-mission__purpose-item"
        >
          <img src="@img/purpose.jpg" alt="image" />
        </a>
      </div>
    </div>
  </div>
</section>
