<section class="s-newspaper sect-m _off-top">
  <div class="container">
    <div class="grid">
      <a href="@img/direction.jpg" download class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">Корпоративная газета 2025</h5>
          <div class="card-new__footer">
            <div class="card-new__btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="card-new__download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
      <a href="@img/direction.jpg" download class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">Корпоративная газета 2025</h5>
          <div class="card-new__footer">
            <div class="card-new__btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="card-new__download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
      <a href="@img/direction.jpg" download class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">Корпоративная газета 2025</h5>
          <div class="card-new__footer">
            <div class="card-new__btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="card-new__download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
      <a href="@img/direction.jpg" download class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">Корпоративная газета 2025</h5>
          <div class="card-new__footer">
            <div class="card-new__btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="card-new__download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
      <a href="@img/direction.jpg" download class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__body">
          <h5 class="card-new__title">Корпоративная газета 2025</h5>
          <div class="card-new__footer">
            <div class="card-new__btn">
              <span>Открыть</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div class="card-new__download">
              <span>Скачать</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
