<section class="s-projects sect-m">
  <div class="container">
    <h2 class="s-title s-projects__title">Проекты фонда</h2>
    <div class="s-projects__nav">
      <div class="s-projects__btn _active">Текущие</div>
      <div class="s-projects__btn">Архив</div>
    </div>
    <div class="s-projects__grid">
      <a href="#" class="card-project">
        <div class="card-project__gallery">
          <img src="@img/project.jpg" alt="image" />
        </div>
        <div class="card-project__body">
          <h5 class="card-project__title">
            Конкурс чтецов «Не наступите на слона!»
          </h5>
        </div>
      </a>
      <a href="#" class="card-project">
        <div class="card-project__gallery">
          <img src="@img/project.jpg" alt="image" />
        </div>
        <div class="card-project__body">
          <h5 class="card-project__title">
            Международная независимая литературная Премия «Глаголица»
          </h5>
        </div>
      </a>
      <a href="#" class="card-project">
        <div class="card-project__gallery">
          <img src="@img/project.jpg" alt="image" />
        </div>
        <div class="card-project__body">
          <h5 class="card-project__title">
            Семейный книжный фестиваль "Тау Фест"
          </h5>
        </div>
      </a>
      <a href="#" class="card-project">
        <div class="card-project__gallery">
          <img src="@img/project.jpg" alt="image" />
        </div>
        <div class="card-project__body">
          <h5 class="card-project__title">
            Конкурс чтецов «Не наступите на слона!»
          </h5>
        </div>
      </a>
      <a href="#" class="card-project">
        <div class="card-project__gallery">
          <img src="@img/project.jpg" alt="image" />
        </div>
        <div class="card-project__body">
          <h5 class="card-project__title">
            Международная независимая литературная Премия «Глаголица»
          </h5>
        </div>
      </a>
      <a href="#" class="card-project">
        <div class="card-project__gallery">
          <img src="@img/project.jpg" alt="image" />
        </div>
        <div class="card-project__body">
          <h5 class="card-project__title">
            Семейный книжный фестиваль "Тау Фест"
          </h5>
        </div>
      </a>
    </div>
  </div>
</section>
