.card-press {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--ecru);
  min-height: 300px;
  transition: color .2s ease;
  @include hover {
    color: var(--primary);

    .card-press__btn {
      svg {
        transform: translateX(6px);
      }
    }
  }
  @include laptop {
    padding: 25px;
  }
  @include laptop-min {
    padding: 20px;
    min-height: 255px;
  }
  @include tablet-min {
    min-height: 220px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    margin: 0px 0px 20px 0px;
    @include laptop-middle {
      font-size: 20px;
    }
    @include laptop-min {
      font-size: 18px;
    }
  }
  &__date {
    font-size: 16px;
    line-height: 130%;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;

    font-size: 20px;
    line-height: 130%;
    color: var(--primary);

    svg {
      width: 25px;
      height: 10px;
      transition: transform .2s ease;
    }
  }
}
