.slider-scrollbar {
  width: 100%;
  margin-top: 70px;
  background-color: var(--car);
  border-radius: 50px;
  height: 4px;
  display: flex;
  align-items: center;

  @include laptop-middle {
    margin-top: 45px;
  }
  @include tablet {
    margin-top: 30px;
  }

  .swiper-scrollbar-drag {
    background-color: var(--primary);
  }
}